.version.confidence /* version checker */
{
	color: #00000D;
	background-color: #20089E;
}

#page
{
	z-index: 1;
	min-height: 418px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u763-56
{
	z-index: 2;
	min-height: 884px;
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#u763-2
{
	font-weight: 700;
}

#u763-3,#u763-5,#u763-6,#u763-8,#u763-9,#u763-11,#u763-12,#u763-14,#u763-15,#u763-17,#u763-18,#u763-20,#u763-21,#u763-23,#u763-24,#u763-26,#u763-27,#u763-29,#u763-30,#u763-32,#u763-33,#u763-35,#u763-36,#u763-38,#u763-39,#u763-41,#u763-42,#u763-44,#u763-45,#u763-47,#u763-48,#u763-50,#u763-51,#u763-53,#u763-54
{
	font-weight: 400;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

